* {
    box-sizing: border-box;
    line-height: 130%; 
    margin-top: 0;
    width: 100%;
}

html, body {
    background-color: #1a1a1a;
}

::selection {
    color: rgb(0, 47, 91);
}

div { width: 100%; height:100%; }