@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

button.signup {
    font-family: 'Poppins', sans-serif;
    color: white;
    border: #2034e4 1px solid;
    font-size: 13.3px;
    margin-top: 11.25px;
    margin-left: 5.5%;
    border: none;
}

button.signup:hover {
    cursor: pointer;
    font-size: 13.4px;
    border: none;
}
